

/* SignUpForm.css */
#main-signup {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color:pink;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #signupForm {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fdf5e6;
    border-radius: 7px;
    text-align: center;
  }
  .form-group label {
    color:lightcoral; 
  }
  
  input {
    font-family: 'Arial', sans-serif;
    background-color: #f9ebcd;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="submit"] {
    font-family: 'Verdana', sans-serif;
    background-color: #3cb371;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #2e8b57;
  }
  
  #name,
  #email,
  #password {
    font-family: 'Times New Roman', Times, serif;
  }
  